<h2>Detalles de {{pokemon.name}}</h2>

<div class="pokemon-details">
    <p><strong>Nombre:</strong> {{pokemon.name}}</p>
    <p><strong>Tipo:</strong> {{pokemon.type}}</p>
    <p><strong>Región:</strong> {{pokemon.Region.name}}</p>
</div>

<a href="/pokemons/{{pokemon.id}}/edit">Editar</a>
<a href="/pokemons">Volver a la lista</a>